fieldset.standard {
    border-style: solid;
    border-width: 1px;
    height: 100%;
}
html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
 }
legend{
    color: #3F51B5;
}
.ancho-espacio{
    max-width: 200px;
}
.white{
    color:white!important;
}
.azul-bamberger{
   color:rgb(0, 99, 177);
}
.bg-bamberger{
    background-color:rgb(0, 99, 177);
}
.centro{
    text-align: center;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #0063B1!important;
    color: rgba(255, 255, 255, 0.87);
}

md-toolbar>.md-subhead{
    margin-top: 15px !important;
}
#content{
  /*background-color: rgb(0, 99, 177);*/
  
  background-size: 100% 100%;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
#frame{
    background-color: white;
    -webkit-box-shadow: 0px 9px 4px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 9px 4px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 9px 4px 0px rgba(50, 50, 50, 0.75)!important;
}

.md-datepicker-input-container {
    margin-left: 12px;
    width: 70%!important;
 }
 .full{
     text-transform:full-width!important;
 }
 
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
}

.animate-show.ng-hide {
  opacity: 0 !important;
}
@media (min-width: 800px){
  .md-datepicker-input-container {
    margin-left: 12px;
    width: 80%!important;
    }
}

@media (max-width: 600px){
    .md-subhead {
    font-size: 13px!important;
    line-height: 24px;
    }
   
    .md-title {
    font-size: 13px!important;
    font-weight: bold;
    letter-spacing: .005em;
    }
}