body {
    margin-top: 20px;
   
}
.padding-top-logo {
    padding-top: 10px;
}
label {
    font-size: 1.1em;
}
.panel-body:not(.two-col) {
    padding: 0px
}
.glyphicon {
    margin-right: 5px;
}
.glyphicon-new-window {
    margin-left: 5px;
}
.radio,
.checkbox {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.panel-body .list-group {
    margin-bottom: 0;
}
.margin-bottom-none {
    margin-bottom: 0!important;
}
.radio label,
.checkbox label {
    display: block!important;
}
/*Colores de  BAMBERGER*/

.azul-bamberger {
    color: #0063B1;
}
.azul-enfasis {
    color: #2495A1;
}
.azul-enfasis-bg {
    background-color: #2495A1!important;
}
.navbar-inverse {
    background-color: #0063B1!important;
    background-image: none;
    background-repeat: no-repeat;
}
.navbar-inverse .navbar-brand {
    color: white;
    margin-top: -25px;
}
footer {
    background-color: #0063B1!important;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 32px;
    font-size: .8em;
    z-index: 2;
    margin-top: 32px;
}
.siguiente {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.padding-top-secciones {
    padding-top: 60px;
}
.oculto {
    display: none;
}
.form-control::-webkit-input-placeholder {
    color:  black;
}
.form-control:-moz-placeholder {
    color: black;
}
.form-control::-moz-placeholder {
    color: black;
}
.form-control:-ms-input-placeholder {
    color: black;
}
.form-white {
    color: black!important;
}
@media (min-width: 991px) {
    .texto-centro {
        text-align: center;
    }
    .bamberger-titulo {
        color: #000;
    }
    .contendor-formulario {
        background: #fff;
        padding: 0.5em 2em 3em;
        position: relative;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
        box-shadow: 0 9px 15px rgba(0, 0, 0, .1);
    }

}
@media(max-width:900) {
    .bamberger-titulo {
        color: white!important;
    }
        .form-control::-webkit-input-placeholder {
        color:  black;
    }
    .form-control:-moz-placeholder {
        color: black;
    }
    .form-control::-moz-placeholder {
        color: black;
    }
    .form-control:-ms-input-placeholder {
        color: black;
    }
}