  <md-toolbar layout="row">
        <md-button class="menu" ng-click="opService.toggleLeft()"  aria-label="Show User List">
                <md-icon md-svg-src="../img/svg/menu.svg"></md-icon>
        </md-button>
      <img hide show-gt-sm   src="../img/logo.jpg" width="60" height="60"/>
      <h3  class="md-subhead encabezado white">
          BAMBERGER 
      </h3>
      <span flex></span>
      <md-button ng-click="eliminarProspectos($event)"    md-direction="left">
          <i class="fa fa-trash fa-2x"></i>
      </md-button>
</md-toolbar>
  <section layout="row" flex="100">
       <ng-include src="'../menu/opciones.html'"></ng-include>
     <md-content flex layout-padding>
       <div  layout-align="center center"  ng-hide="completed"   style="padding-top: 200px" layout="row" layout-sm="column">
                 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
          <md-list flex>
              <md-list-item ng-repeat="prospecto in prospectos"  class="md-2-line">
                  <div class="md-list-item-text">
                      <h3 class="ancho-espacio">{{prospecto.nombre_empresa}}</h3>
                      <p>{{prospecto.direccion}}</p>
                      <md-checkbox class="md-secondary"  ng-model="prospecto.delete"></md-checkbox>
                  </div>
              </md-list-item>
          </md-list> 
      </md-content>
       
  </section>