<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<md-dialog aria-label="Vendedores">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'ASSIGN_SELLER'|translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
           <h2 flex class="md-title">{{'CHOOSE_SELLER'|translate}}</h2>
           <div layout="row">
                 <md-input-container flex  flex-gt-xs="100" style="width: 100%" >
                        <label>Asignado</label>
                         <md-select ng-model="id_vendedor">
                             <md-option ng-value="vendedor.id_vendedor" ng-repeat="vendedor in vendedores">{{vendedor.nombre}}</md-option>
                          </md-select>
                    </md-input-container>
          </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
         {{'CANCEL'|translate}}
      </md-button>
      <md-button ng-click="hide()">
       {{'ACCEPT'|translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>