  <md-toolbar layout="row">
        <md-button class="menu" ng-click="opService.toggleLeft()"  aria-label="Show User List">
                <md-icon md-svg-src="../img/svg/menu.svg"></md-icon>
        </md-button>
      <img hide show-gt-sm   src="../img/logo.jpg" width="60" height="60"/>
      <h3 class="md-subhead white">
          BAMBERGER
      </h3>
      <span flex></span>
</md-toolbar>

 <section layout="row" flex="100">
  <ng-include src="'../menu/opciones.html'"></ng-include>
 <md-content flex layout-padding>
          <h1  class="md-title" style="padding-bottom:0px!important;color: rgb(0, 99, 177);">//INFORMATION</h1>
          <md-divider></md-divider>
          <md-grid-list md-cols="4" md-cols-gt-md="6" md-cols-md="6" md-cols-sm="2" md-cols-xs="2" md-gutter="12px"  md-row-height="1:1">
            <md-grid-tile class="bg-bamberger">
              <md-icon class="md-default-theme" class="material-icons md-48" style="font-size: 50px">show_chart</md-icon>
              <md-grid-tile-footer>
                <h3>{{info.prospectos}} PROSPECTS</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="bg-bamberger">
             <md-icon class="md-default-theme" class="material-icons" md-48 style="font-size: 50px">people</md-icon>
              <md-grid-tile-footer>
                <h3>{{info.asignados}} ASSIGNED</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
          
          </md-grid-list>
          
 </md-content>
  
 </section>