
<!-- 
 <md-button ng-click="eliminarProspectos($event)"  aria-label="eliminar"   md-direction="left">
          <i class="fa fa-trash fa-2x"></i>
      </md-button>

-->
 <md-toolbar layout="row">
        <md-button class="menu" ng-click="opService.toggleLeft()"  aria-label="Show User List">
                <md-icon  md-svg-src="../img/svg/menu.svg"></md-icon>
        </md-button>
      <img hide show-gt-sm  src="../img/logo.jpg" width="60" height="60"/>
      <h2 class="md-subhead white">
          BAMBERGER 
      </h2>
      <span flex></span>
      <md-button ng-click="eliminarProspectos($event)"  aria-label="eliminar"   md-direction="left">
          <i class="fa fa-trash fa-2x"></i>
      </md-button>
</md-toolbar>
  <section layout="row" flex="100">
       <ng-include src="'../menu/opciones.html'"></ng-include>
      <md-content flex layout-padding>
          <div layout="column">
              <md-autocomplete flex
              md-input-id="autocomplete"
              type="search"
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in querySearch(searchText)"
              md-item-text="item.nombre_empresa"
              md-delay="300"
              md-min-length="1" 
              md-selected-item-change="selectedItemChange(item)"
              md-floating-label="{{'SEARCH_PROSPECT'|translate}}">
              <span md-highlight-text="searchText">{{item.nombre_empresa}}</span>  
              
             </md-autocomplete>
              <!--DIV RESULTADOS-->
              <div flex ng-if="selectedItem" style="padding-top: 0px!important">
                  <h1  class="md-title azul-bamberger">//{{'SEARCH_RESULT'|translate}}</h1> 
                  <div layout="row">
                      <div layout="column" flex="100">
                          <div layout="row" layout-xs="column">
                               <div flex>
                                   <md-button style="background-color: rgb(0, 99, 177)!important" ng-click="asignarVendedor($event)"  class="md-raised md-primary"    md-direction="left">
                                       {{'ASSIGN_SELLER'|translate}} 
                                    </md-button>
                                    <h3 class="md-subhead azul-bamberger">{{'COMPANY_NAME'|translate}}:</h3>
                                    <h3 class="md-subhead"><strong><i> {{selectedItem.nombre_empresa}}</i></strong></h3> 
                                    <h3 class="md-subhead azul-bamberger">{{'CONTACT_NAME'|translate}}:</h3>
                                    <h3 class="md-subhead"><strong><i>{{selectedItem.nombre_contacto}}</i> </strong></h3> 
                                    <h3 class="md-subhead azul-bamberger">{{'PHONE'|translate}}:</h3>
                                    <h3 class="md-subhead"><strong><i>{{selectedItem.telefono}}</i> </strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'STATE'|translate}}:</h3>
                                    <h3  class="md-subhead"><strong><i> {{selectedItem.ciudad_estado}}</i></strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'STREET_NAME_TWO'|translate}}</h3>
                                    <h3  class="md-subhead"><strong><i>{{selectedItem.colonia}}</i></strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'STREET_NAME'|translate}}</h3>
                                    <h3  class="md-subhead"><strong><i class="full">{{selectedItem.direccion}}</i> </strong></h3> 
                                </div>
                              
                             
                              <div flex>
                                    <h3  class="md-subhead azul-bamberger">{{'EMAIL'|translate}}:</h3>
                                    <h3  class="md-subhead" ng-show="selectedItem.email.length==0"><strong>SIN EMAIL</strong></h3> 
                                    <h3  class="md-subhead" ng-show="selectedItem.email.length>0"><strong>{{selectedItem.email}}</strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'WEBSITE'|translate}}</h3>
                                    <h3  class="md-subhead"><a href="{{selectedItem.sitio_web}}">{{selectedItem.sitio_web}}</a></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'CAPACITY'|translate}}:</h3>
                                    <h3  class="md-subhead"><strong><i>{{selectedItem.capacidad}}</i> </strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'DATE'|translate}}:</h3>
                                    <h3  class="md-subhead"><strong><i>{{selectedItem.fecha_asignacion}}</i> </strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'ASSIGNED'|translate}}:</h3>
                                    <h3 ng-show="selectedItem.id_asignado!=0"  class="md-subhead"><strong><i>{{selectedItem.asignado}}</i></strong></h3> 
                                    <h3 ng-show="selectedItem.id_asignado==0"  class="md-subhead"><strong><i>SIN ASIGNAR</i></strong></h3> 
                                    <h3  class="md-subhead azul-bamberger">{{'COMMENTS'|translate}}:</h3>
                                    <h3  class="md-subhead"><strong><i>{{selectedItem.comentarios}}</i> </strong></h3> 
                             </div>
                              
                              
                              
                          </div>
                        
                  </div>
                  
                  </div>   
               </div>
          </div>
      </md-content>
  </section>

