<!--
<link rel="stylesheet" href="../css/inicio.css"/>
-->
 <md-toolbar layout="row">
        <md-button class="menu" ng-click="opService.toggleLeft()"  aria-label="Show User List">
                <md-icon md-svg-src="../img/svg/menu.svg"></md-icon>
        </md-button>
      <img hide show-gt-sm  src="../img/logo.jpg" width="60" height="60"/>
      <h3 class="md-subhead white">
          BAMBERGER
      </h3>
      <span flex></span>
      <md-button ng-click="onSubmitProspecto()"    md-direction="left">
          <i class="fa fa-floppy-o fa-2x"></i>
      </md-button>
</md-toolbar>
  <section layout="row" flex>
       <ng-include src="'../menu/opciones.html'"></ng-include>
      <md-content flex layout-padding>
          <h1 class="md-title" style="padding-bottom:0px!important;color: rgb(0, 99, 177);">// {{'ADD_NEW_PROSPECT'|translate}}</h1>
          <md-divider></md-divider>
          <form ng-submit="onSubmitProspecto()" id="prospectoForm" name="prospectoForm">
                <div layout="row" layout-xs="column">
                     <md-input-container flex flex-gt-sm="100"  md-no-float>
                         <input placeholder="{{'COMPANY_NAME'|translate}}"  required md-no-asterisk name="empresa" ng-model="prospecto.nombre_empresa"/>
                    </md-input-container>
                    <md-input-container flex flex-gt-sm="100" md-no-float>
                        
                        <input placeholder="{{'CONTACT_NAME'|translate}}" md-max-length="30" maxlength="30"  required md-no-asterisk name="contacto" ng-model="prospecto.nombre_contacto"/>
                    </md-input-container> 
                    <md-input-container flex flex-gt-sm="100" md-no-float>
                        <input placeholder="{{'STREET_NAME'|translate}}" md-max-length="30" maxlength="30"  required md-no-asterisk name="direccion" ng-model="prospecto.direccion"/>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" >
                   <md-input-container flex flex-gt-sm="100" md-no-float>
                       <input type="tel" placeholder="{{'PHONE'|translate}}" required md-no-asterisk   name="telefono" mask="(99) 9?9999-9999" ng-model="prospecto.telefono"/>
                    </md-input-container>
                    <md-input-container flex flex-gt-sm="100" md-no-float>
                        <input placeholder="{{'STREET_NAME_TWO'|translate}}" required md-no-asterisk name="colonia" ng-model="prospecto.colonia"/>
                    </md-input-container>
                    
                    <md-input-container flex flex-gt-sm="100" md-no-float>
                        <label>{{'STATE'|translate}}</label>
                         <md-select required md-no-asterisk  ng-model="prospecto.estado">
                             <md-option ng-repeat="x in estados" value="{{x}}">{{x}}</md-option>
                          </md-select>
                    </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column" md-no-float>
                      <md-input-container flex flex-gt-sm="100" md-no-float>
                          <input placeholder="{{'EMAIL'|translate}}" type="email" name="email" ng-model="prospecto.email"/>
                    </md-input-container>
                    <md-input-container md-no-float flex flex-gt-sm="100" md-no-float>
                        <input placeholder="{{'WEBSITE'|translate}}" type="url" name="sitio" ng-model="prospecto.sitio"/>
                    </md-input-container>
                    <md-input-container flex flex-gt-sm="100">
                        <label>{{'PRODUCTS'|translate}}</label>
                        <md-select ng-model="prospecto.materiales" multiple>
                          <md-option ng-value="material.id_material" ng-repeat="material in materiales">{{material.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                  
                </div>
                
                <div layout="row" layout-xs="column" md-no-float>
                     <md-input-container  flex-gt-xs="100" md-no-float>
                         <input type="text" placeholder="{{'CAPACITY'|translate}}" name="capacidad" ng-model="prospecto.capacidad"/>
                    </md-input-container>
                       <md-input-container  flex-gt-xs="100">
                           
                        <label>{{'ASSIGNED'|translate}}</label>
                         <md-select ng-model="prospecto.asignado">
                             <md-option ng-value="vendedor.id_vendedor" ng-repeat="vendedor in vendedores">{{vendedor.nombre}}</md-option>
                          </md-select>
                    </md-input-container>
                   
                    <md-input-container  flex-gt-xs="100">
                        <label>{{'DATE'|translate}}</label>
                        <md-datepicker ng-model="prospecto.fecha_asignacion"md-open-on-focus></md-datepicker>
                    </md-input-container>
               
                  
                </div>
              <div layout="row" layout-xs="column"  md-no-float>
                  
                   <md-input-container flex flex-gt-sm="100" md-no-float>
                        <label>{{'SOURCE'|translate}}</label>
                         <md-select ng-change="onSource()"  ng-model="prospecto.id_source">
                             <md-option ng-repeat="x in sources" value="{{$index}}">{{x}}</md-option>
                          </md-select>
                    </md-input-container>
                  
                     <md-input-container  flex-gt-sm="100">
                         <textarea placeholder="{{'COMMENTS'|translate}}" ng-model="prospecto.comentario">
                        </textarea>
                    </md-input-container>
              </div>
            </form>
          
      </md-content>
  </section>
