<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <md-sidenav  class="md-sidenav-left" md-component-id="left"  md-whiteframe="4" >
   <md-toolbar layout="row">
	 <div class="md-toolbar-tools">
        <h2>
          <span>BAMBERGER</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="opService.toggleLeft()">
          <md-tooltip>CERRAR MENÚ</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
       </div>
	</md-toolbar> 

      <md-content layout-margin>
  
       <md-list layout="column">
           
           <div layout="row">
               
                   <md-subheader class="md-no-sticky" flex style="padding-top: 10px;">{{'OPCIONES'|translate}}</md-subheader>
                     <md-select flex ng-model="armor" placeholder="{{'IDIOMA'|translate}}" class="md-no-underline">
                         <md-option value="en" ng-selected="true">{{'EN'|translate}}</md-option>
                        <md-option value="es">{{'ES'|translate}}</md-option>
                    </md-select>        
           </div>
              
                 <md-divider></md-divider>
             
                <md-list-item ng-click="opService.gotoInicio()" style="color: rgb(0, 99, 177)">
                  <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">home</md-icon>
                  <p>{{'INICIO'|translate}}</p>
                </md-list-item>
                <md-list-item ng-click="opService.gotoAgregar()" style="color: rgb(0, 99, 177)">
                  <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">add</md-icon>
                  <p>{{'AGREGAR'|translate}}</p>
                </md-list-item>
                
                 <md-list-item ng-click="opService.gotoBusqueda()" style="color: rgb(0, 99, 177)">
                  <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">search</md-icon>
                  <p>{{'BUSCAR'|translate}}</p>
                </md-list-item>
      
                <md-list-item ng-click="opService.gotoCargar()" style="color: rgb(0, 99, 177)">
                  <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">file_upload</md-icon>
                  <p>{{'SUBIR'|translate}}</p>
                </md-list-item>
                
                 <md-list-item  ng-click="opService.gotoList()" style="color: rgb(0, 99, 177)">
                  <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">list</md-icon>
                  <p>{{'LIST'|translate}}</p>
                </md-list-item>
                <md-list-item style="color: rgb(0, 99, 177)" ng-click='opService.gotoSalir()'>
                   <md-icon class="md-default-theme" class="material-icons" style="color: rgb(0, 99, 177)">exit_to_app</md-icon>
                  <p>{{'EXIT'|translate}}</p>
                </md-list-item>
                
          </md-list>
          
          
          
          
      </md-content>
    
    </md-sidenav>
