<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" ng-app="appBm">

<head>
    <title>Bamberger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material Hoja de estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="../css/inicio.css" />
</head>

<body layout="column" ng-controller="cargarCtrl" ng-cloak>
    <md-toolbar layout="row">
        <md-button class="menu" ng-click="opService.toggleLeft()" aria-label="Show User List">
            <md-icon md-svg-src="../img/svg/menu.svg"></md-icon>
        </md-button>
        <img src="../img/logo.jpg" width="60" height="60" />
        <h3 class="md-subhead white">
          BAMBERGER POLYMERS
      </h3>
        <span flex></span>
    </md-toolbar>
    <section layout="row" flex>
        <ng-include src="'../menu/opciones.html'"></ng-include>
        <md-content flex layout-padding ng-click="toggleLeft()">
            <h1 class="md-title" style="padding-bottom:0px!important;color: rgb(0, 99, 177);">// CARGAR ARCHIVO EXCEL</h1>
            <md-divider></md-divider>
            <div flex layout="column">
                <div flex layout="column">
                    <div flex layout="row" layout-xs="column">
                        <form ng-submit="analizar()" flex>
                            <input style="display: none " type="file" id="csv" name="csv" accept=".csv" />
                            <label for="csv" class="md-button md-raised md-primary">Elegir archivo</label>
                            <input class="md-button md-raised md-primary" type="submit" value="analizar" />
                            <input class="md-button md-raised md-primary" type="button" value="guardar en bd" ng-click="guardarBD()" />
                        </form>
                        <div flex>
                            <span id="progressMensaje">Analizando archivo...</span>
                        </div>
                    </div>
                    <h3 class="md-subhead" flex style="padding-bottom:0px!important;color: rgb(0, 99, 177);"><i> Relaciona las columnas de tu excel con las de la base datos <br>  total registros <strong>{{data.total}}</strong></i></h3>
                    <div layout="column" flex>
                        <div layout="row" ng-repeat="en in data.bd_encabezado">
                            <div flex>
                                <h3 class="md-subhead">{{en|uppercase}}</h3>
                            </div>
                            <div flex>

                                <select class="form-control" ng-model="seleccion[en]">
                                    <option ng-value="ninguno">ninguno</option>
                                    <option ng-repeat="op in data.encabezado track by $index" ng-value="$index">
                                        {{op}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </md-content>
    </section>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Angular Material Libreria -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Your application bootstrap  -->
    <script src="../js/mask.js"></script>
    <script src="../js/angular/app.js"></script>
    <script src="../js/angular/cargarCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>

</html>
